:root {
  --primary-color: #1eb980;
  --primary-dark-color: #045d56;

  --orange-300-color: #ff6859;
  --yellow-300-color: #ffcf44;
  --purple-200-color: #b15dff;

  --register-width: 50px;

  --opcode-width: 35px;

  --black-color: #212121;
  --background-color: #33323c;
  --card-background: #37363f;
  --primary-background: #27262f;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background-color);
  color: #ffffff;
}

a {
  color: #ffffff;
}

.font-200 {
  font-size: 8px;
}
.font-300 {
  font-size: 12px;
}

.header {
  font-family: "Roboto", sans-serif;
  background: var(--black-color);
  font-weight: 500;

  padding: 16px 16px;

  display: flex;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.container-center {
  display: flex;
  justify-content: center;
}

.container {
  padding: 16px 16px;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content-left {
  margin-right: 16px;
}

.card {
  border-top: 3px solid #ffffff;
  background: var(--card-background);
  margin-bottom: 16px;
  margin-right: 16px;
  width: fit-content;
  height: fit-content;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 2px solid var(--background-color);
  padding: 16px 16px;
  height: 54px;
  box-sizing: border-box;
}

.screen-card-title {
  background: var(--primary-background);
}

.screen {
  background: var(--primary-background);
  display: flex;
  justify-content: center;
}

.screen-bg {
  background: var(--primary-background);
}

.registers-container {
  display: flex;
  flex-wrap: wrap;
}

.registers-card {
  padding: 16px 16px;
}

.registers-v-group {
  display: flex;
  width: calc(var(--register-width) * 8);
  flex-wrap: wrap;
}

.register {
  width: var(--register-width);
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
  font-weight: 300;
  padding: 2px 4px;
  box-sizing: border-box;
}

.register-title {
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
  font-weight: 100;
  padding: 2px 4px;
}

.register-value {
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
  font-weight: 300;
  height: 30px;
  line-height: 30px;
  padding-left: 4px;
  background: var(--primary-dark-color);
}

.register-i {
  background: var(--purple-200-color);
}

.register-i-title {
  margin-top: 16px;
}

.pc-card {
  flex: 1;
}

.pc-value {
  padding: 16px;
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
  font-weight: 300;
}

.opcodes-board {
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--opcode-width) * 10);
  background: var(--card-background);
  padding: 16px 16px;
}
.opcodes-size {
  background: var(--orange-300-color);
  border-radius: 3px;
  font-size: 12px;
  padding: 4px;
}

.opcode {
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
  font-weight: 300;
  padding: 2px 4px;
  background: var(--card-background);
}

.opcode-execute {
  animation: execute-code 2s linear;
}

.opcode-execute-2 {
  animation: execute-code-2 2s linear;
}

/*******/
/* Rom */
/*******/
.rom-select,
.cycles-per-frame-input {
  background: var(--card-background);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 100;
  height: 32px;
}

.button-icon {
  border: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
  text-align: inherit;
  font-size: 100%;
  font-family: inherit;
  cursor: pointer;
  line-height: inherit;
  margin: 0px 4px;
}

.button-icon .material-icons,
.button-icon .play-button {
  opacity: 0.3;
  transition: all 0.3s linear;
}

.button-icon .material-icons:hover,
.button-icon .play-button:hover {
  opacity: 1;
}

.screen-control {
  padding-left: 16px;
}

.screen-controls-container {
  display: flex;
}

.screen-controls-buttons {
  display: flex;
  margin-left: 8px;
}

.screen-controls-buttons.hide {
  display: none;
}

.play-button {
  display: inline-block;
  box-sizing: border-box;
  opacity: 0.3;
  width: 16px;
  height: 16px;
  border-style: solid;
  border-color: transparent transparent transparent #ffffff;
  border-width: 8px 0px 8px 16px;
  margin: 0px 4px;
  transition-property: border-style, border-width;
}

.pause-button {
  border-style: double;
  border-width: 0px 0px 0px 16px;
}

@keyframes execute-code {
  0%,
  30% {
    background: var(--primary-color);
  }
}

@keyframes execute-code-2 {
  0%,
  30% {
    background: var(--primary-color);
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .content-left {
    margin-right: 0px;
    width: 100%;
  }

  .card {
    margin-right: 0px;
    width: 100%;
  }

  .opcodes-board,
  .registers-v-group {
    width: 100%;
  }
}
